<div class="flex column full-width full-height align-items-center p-16 gap-24 full-width">
  <img class="logo" src="/logo.png" />
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex row justify-content-center full-width">
    <div class="login-card card flex column gap-36 align-items-center">
      <img class="login-image" src="/svgs/login.svg" />
      <div class="flex column gap-16 align-items-center full-width">
        <div class="flex column align-items-center full-width">
          <kc-input
            formControlName="password"
            [placeholder]="'Password'"
            [isFullWidth]="true"
            [label]="'Enter your password'"
            [type]="passwordType()"
            [isValid]="!isInvalid('password')"
            [invalidReason]="getPasswordError()"
            [prepadInvalidReason]="true"
            [isDisabled]="isSubmitting()"
          >
            <div (click)="!isSubmitting() && togglePwVisibility()" [class]="isSubmitting() ? '' : 'clickable'" rightSideSlot>
              <kc-icon iconClass="{{ passwordIcon() }}" [size]="'xs'" [class]="isSubmitting() ? 'disabled-icon' : ''"></kc-icon>
            </div>
          </kc-input>

          <div [routerLink]="['/recovery']" class="forgot-password">
            Forgot password?
          </div>
        </div>

        <div class="mt-16 full-width">
          <kc-button
            [isDisabled]="!loginForm.valid || isSubmitting()"
            (buttonClick)="loginForm.valid && onSubmit()"
            [isFullWidth]="true"
            [isLoading]="isSubmitting()"
            [text]="'Login'"
          ></kc-button>
        </div>
      </div>
    </div>
  </form>
</div>
