.header-container {
  display: flex;
  align-items: center;
  justify-content: end;
  &__search-icon {
    cursor: pointer;

    &:hover {
      ::ng-deep {
        .icon-wrapper {
          color: var(--white);
        }
      }
    }
  }
}
