@use "../../../../../../../../styles/responsive.scss" as *;

.seed-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
  
  &__word {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
  }
}
