<div class="transactions-history-container">
  <h2 class="transactions-title">Kaspa Transactions History</h2>

  <ul
    *ngIf="
      kaspaTransactionsHistoryMapped !== undefined;
      else LoadingTransactions
    "
    class="transactions-list"
  >
    <li
      *ngFor="let tx of kaspaTransactionsHistoryMapped"
      class="transaction-item"
    >
      <div class="transaction-header">
        <strong>Transaction ID:</strong>
        <span class="transaction-id">{{ tx.id }}</span>
      </div>
      <div class="transaction-details">
        <div class="transaction-confirmation">
          <strong>Confirmed:</strong>
          <span class="confirmation-status">{{
            tx.confirmed ? "Yes" : "No"
          }}</span>
        </div>
        <div class="transaction-time">
          <strong>Time:</strong>
          <span class="transaction-date">{{
            tx.date | date : "dd/MM/yyyy, HH:mm:ss"
          }}</span>
        </div>
        <div class="transaction-amount">
          <strong
            >Amount:
            <span
              [class.plus]="tx.totalForThisWallet > 0"
              [class.minus]="tx.totalForThisWallet < 0"
              >{{ tx.totalForThisWallet > 0 ? "+" : ""
              }}{{ tx.totalForThisWallet | sompiToNumber }} KAS</span
            ></strong
          >
          <div class="transaction-senders">
            <span *ngFor="let sender of tx.senders | keyvalue" class="sender">
              -{{ sender.value | sompiToNumber }} KAS
              <span class="sender-address">(sent from {{ sender.key }})</span>
            </span>
          </div>
          <div class="transaction-receivers">
            <span
              *ngFor="let receiver of tx.receivers | keyvalue"
              class="receiver"
            >
              +{{ receiver.value | sompiToNumber }} KAS
              <span class="receiver-address"
                >(received in {{ receiver.key }})</span
              >
            </span>
          </div>
        </div>
        <div class="transaction-fee">
          <strong>Fee:</strong>
          <span>{{ tx.fee | sompiToNumber }} KAS</span>
        </div>
      </div>
    </li>
  </ul>
  <ng-template #LoadingTransactions>
    <p>Loading...</p>
  </ng-template>
</div>
