<div class="transactions-history-container">
  <h2 class="transactions-title">Kaspa Transactions History</h2>

  @if (kaspaTransactionsHistoryMapped !== undefined) {
    <ul class="transactions-list">
      @for (tx of kaspaTransactionsHistoryMapped; track tx) {
        <li class="transaction-item">
          <div class="transaction-header">
            <strong>Transaction ID:</strong>
            <span class="transaction-id">{{ tx.id }}</span>
          </div>
          <div class="transaction-details">
            @if (tx.confirmed) {
              <div class="transaction-confirmation">
                <strong>Status:</strong>
                <span class="confirmation-status">Accepted</span>
              </div>
            }
            <div class="transaction-time">
              <strong>Time:</strong>
              <span class="transaction-date">{{
                tx.date | date: "dd/MM/yyyy, HH:mm:ss"
              }}</span>
            </div>
            <div class="transaction-amount">
              <strong
                >Amount:
                <span
                  [class.plus]="tx.totalForThisWallet > 0"
                  [class.minus]="tx.totalForThisWallet < 0"
                  >{{ tx.totalForThisWallet > 0 ? "+" : ""
                  }}{{ tx.totalForThisWallet | sompiToNumber }} KAS</span
                ></strong
              >
              <div class="transaction-senders">
                @for (sender of tx.senders | keyvalue; track sender) {
                  <span class="sender">
                    -{{ sender.value | sompiToNumber }} KAS
                    <span class="sender-address"
                      >(sent from {{ sender.key }})</span
                    >
                  </span>
                }
              </div>
              <div class="transaction-receivers">
                @for (receiver of tx.receivers | keyvalue; track receiver) {
                  <span class="receiver">
                    +{{ receiver.value | sompiToNumber }} KAS
                    <span class="receiver-address"
                      >(received in {{ receiver.key }})</span
                    >
                  </span>
                }
              </div>
            </div>
            <div class="transaction-fee">
              <strong>Fee:</strong>
              <span>{{ tx.fee | sompiToNumber }} KAS</span>
            </div>
          </div>
        </li>
      }
    </ul>
  } @else {
    <p>Loading...</p>
  }
</div>
