<div class="flex justify-content-around pb-12">
  <a [routerLink]="['./home']">
    <img
      class="mt-12"
      ngSrc="/svgs/nav/home.svg"
      alt="Success image"
      width="40"
      height="40"
      priority
    />
  </a>
  <a [routerLink]="['./swap']">
    <img
      class="mt-12"
      ngSrc="/svgs/nav/collectables.svg"
      alt="Success image"
      width="40"
      height="40"
      priority
    />
  </a>
  <!-- <img
    ngSrc="/svgs/nav/collectables.svg"
    alt="Success image"
    width="40"
    height="40"
    priority
  /> -->
</div>
