<div
  class="home-container flex full-width full-height column align-items-center gap-16 p-8"
>
  <app-balance></app-balance>
  <app-crypto-actions></app-crypto-actions>
  
  <kc-labeled-tabs
    class="full-width"
    [tabs]="tabs"
    [selectedTabId]="selectedTabId()"
    (selectedTabChange)="onTabChange($event)"
  >
    @switch (selectedTabId()) {
      @case ('utxos') {
        <app-utxos-summary></app-utxos-summary>
      }
      @case ('krc20') {
        <app-wallet-summary></app-wallet-summary>
      }
      @case ('krc721') {
        <app-krc721-summary></app-krc721-summary>
      }
      @case ('kns') {
        <app-kns-summary></app-kns-summary>
      }
    }
  </kc-labeled-tabs>
</div>
