<div class="flex column align-items-center gap-32">
  <div class="flex column align-items-center gap-16">
    <span class="typo-title-3">Create a password</span>
    <span class="typo-text-2 text-medium text-align-center"
      >You will use it to unlock your account</span
    >
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="flex column gap-16">
      <kc-input
        formControlName="password"
        [label]="'Enter your password'"
        [placeholder]="'Password'"
        [type]="passwordType()"
      >
        <div (click)="togglePwVisibility()" class="clickable" rightSideSlot>
          <kc-icon iconClass="{{ passwordIcon() }}" [size]="'xs'"></kc-icon>
        </div>
      </kc-input>
      <kc-input
        formControlName="confirmPassword"
        [label]="'Confirm your password'"
        [placeholder]="'Confirm password'"
      >
        <div class="clickable" rightSideSlot>
          <kc-icon iconClass="icon-eye" [size]="'xs'"></kc-icon>
        </div>
      </kc-input>
    </div>
  </form>
  <kc-button
    [isFullWidth]="true"
    type="submit"
    [text]="'Continue'"
    (buttonClick)="onSubmit()"
  ></kc-button>
</div>
