:host {
  width: 100%;
}

.create-password-step {
  width: 100%;
}

.create-password-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.create-password-form kc-input {
  width: 100%;
}

