<div class="flex column align-items-center gap-32">
  <div class="flex column align-items-center gap-16">
    <span class="typo-title-3">Create Password</span>
    <span class="typo-text-2 text-medium text-align-center"
      >You will use it to unlock your account</span
    >
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="flex column gap-4">
      <kc-input
        formControlName="password"
        [label]="'Enter your password'"
        [placeholder]="'Password'"
        [type]="passwordType()"
        [isValid]="!isInvalid('password')"
        [prepadInvalidReason]="true"
        [invalidReason]="getPasswordErrorMessage()"
        (keydown.enter)="onSubmit()"
      >
        <div (click)="togglePwVisibility()" class="clickable" rightSideSlot>
          <kc-icon iconClass="{{ passwordIcon() }}" [size]="'xs'"></kc-icon>
        </div>
      </kc-input>
      <kc-input
        formControlName="confirmPassword"
        [label]="'Confirm your password'"
        [placeholder]="'Confirm password'"
        [type]="passwordConfirmType()"
        [isValid]="!isInvalid('confirmPassword')"
        [prepadInvalidReason]="true"
        [invalidReason]="getConfirmPasswordErrorMessage()"
        (keydown.enter)="onSubmit()"
      >
        <div
          (click)="toggleConfirmPwVisibility()"
          class="clickable"
          rightSideSlot
        >
          <kc-icon [iconClass]="passwordConfirmIcon()" [size]="'xs'"></kc-icon>
        </div>
      </kc-input>
    </div>
  </form>
  <kc-button
    [isFullWidth]="true"
    type="submit"
    [text]="'Continue'"
    [isDisabled]="!passwordForm.valid"
    (buttonClick)="onSubmit()"
  ></kc-button>
</div>
