<div class="buy-asset">
  <h2 class="asset-title">Listings</h2>

  <label for="tickerInput">Ticker:</label>
  <input
    id="tickerInput"
    type="text"
    [(ngModel)]="selectedTicker"
    placeholder="Enter ticker"
  /><br />
  <label for="onlyWalletListing">Show only my listings</label>
  <input
    id="onlyWalletListing"
    type="checkbox"
    [(ngModel)]="onlyWalletListing"
  /><br />
  <button class="buy-button" (click)="buy()">Buy</button>
  <br />

  <ng-container *ngIf="listings; else loading">
    <ul class="asset-list">
      <li *ngFor="let dataEntry of listings" class="asset-item">
        <strong class="asset-label">Ticker:</strong>
        <span class="asset-value">{{ dataEntry.tick }}</span
        ><br />
        <strong class="asset-label">From:</strong>
        <span class="asset-value">{{ dataEntry.from }}</span
        ><br />
        <strong class="asset-label">Amount:</strong>
        <span class="asset-value">{{ dataEntry.amount | sompiToNumber }}</span
        ><br />
        <strong class="asset-label">Transaction ID:</strong>
        <span class="asset-value">{{ dataEntry.uTxid }}</span
        ><br />
        <strong class="asset-label">Address:</strong>
        <span class="asset-value">{{ dataEntry.uAddr }}</span
        ><br />
        <strong class="asset-label">Script:</strong>
        <span class="asset-value">{{ dataEntry.uScript }}</span
        ><br />
        <strong class="asset-label">Score:</strong>
        <span class="asset-value">{{ dataEntry.opScoreAdd }}</span>
        <button
          class="cancel-button"
          (click)="cancel(dataEntry)"
          *ngIf="dataEntry.from == currentWallet()!.getAddress()"
        >
          Cancel
        </button>
      </li>
    </ul>
  </ng-container>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
