<div class="page-content">
  <div class="wallets-container">
    <div class="wallets-list">
      @for (item of wallets(); track item.id) {
        <div
          class="wallet-item"
          [class.selected]="item.isSelected"
          (click)="selectWallet(item)"
        >
          <kc-icon
            class="wallet-item__icon"
            [iconClass]="item.isSelected ? 'icon-user' : 'icon-user-12px'"
            [size]="'md'"
          ></kc-icon>
          <div class="wallet-item__info">
            <div class="wallet-item__name-container">
              <div class="wallet-item__name">{{ item.name }}</div>
              <kc-icon
                class="wallet-item__pencil"
                [iconClass]="'icon-pencil'"
                [size]="'xs'"
                (click)="editWallet(item); $event.stopPropagation()"
              ></kc-icon>
            </div>
            <div class="wallet-item__address">{{ shortenAddress(item.address) }}</div>
            <div class="wallet-item__balance">{{ item.balance }} KAS</div>
          </div>
          <kc-icon
            class="wallet-item__trash"
            [iconClass]="'icon-trash'"
            [size]="'sm'"
            (click)="deleteWallet(item); $event.stopPropagation()"
          ></kc-icon>
        </div>
      }
    </div>
  </div>

  <div class="header-buttons">
    <kc-button
      [text]="'Import Wallet'"
      [variant]="'primary'"
      [size]="'md'"
      [isFullWidth]="true"
      (buttonClick)="addWallet()"
    ></kc-button>
    <kc-button
      [text]="'Create Wallet'"
      [variant]="'tertiary'"
      [size]="'md'"
      [isFullWidth]="true"
      (buttonClick)="createWallet()"
    ></kc-button>
  </div>
</div> 