<kc-snackbar></kc-snackbar>
<div class="flex column align-items-center gap-32">
  <div class="flex column align-items-center gap-4">
    <span class="typo-title-3 p-4">Create Password</span>
    <span class="typo-text-2 text-medium text-align-center"
      >The password cannot be restored</span
    >
    <!-- <div class="address-container">
      <span class="typo-text-3 text-medium text-align-center">
        {{ displayWalletAddress() }}
      </span>
      <div (click)="copyAddressToClipboard()" class="clickable">
        <kc-icon iconClass="icon-copy"></kc-icon>
      </div>
    </div> -->
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="flex column gap-4">
      <kc-input
        formControlName="password"
        [label]="'Enter your password'"
        [placeholder]="'Password'"
        [type]="passwordType()"
        [isValid]="!isInvalid('password')"
        [prepadInvalidReason]="true"
        [invalidReason]="getPasswordErrorMessage()"
        (keydown.enter)="onSubmit()"
      >
        <div (click)="togglePwVisibility()" class="clickable" rightSideSlot>
          <kc-icon iconClass="{{ passwordIcon() }}" [size]="'xs'"></kc-icon>
        </div>
      </kc-input>
      <kc-input
        formControlName="confirmPassword"
        [label]="'Confirm your password'"
        [placeholder]="'Confirm password'"
        [type]="passwordConfirmType()"
        [isValid]="!isInvalid('confirmPassword')"
        [prepadInvalidReason]="true"
        [invalidReason]="getConfirmPasswordErrorMessage()"
        (keydown.enter)="onSubmit()"
      >
        <div
          (click)="toggleConfirmPwVisibility()"
          class="clickable"
          rightSideSlot
        >
          <kc-icon [iconClass]="passwordConfirmIcon()" [size]="'xs'"></kc-icon>
        </div>
      </kc-input>
    </div>
  </form>

  <div class="flex full-width gap-16">
    <kc-button
      [isFullWidth]="true"
      [text]="'Back'"
      (buttonClick)="previous.emit()"
    ></kc-button>
    <kc-button
      [isFullWidth]="true"
      [text]="'Next'"
      (buttonClick)="onSubmit()"
      [isDisabled]="!passwordForm.valid"
    ></kc-button>
  </div>
</div>
