<div class="mempool-transactions-component">
  @if (mempoolTransactions()) {
    <div>
      @if (mempoolTransactions()!.receiving.length > 0 || mempoolTransactions()!.sending.length > 0) {
        <div
          >
          @if (mempoolTransactions()!.receiving.length > 0) {
            <div>
              <div>Receiving Count: {{ mempoolTransactions()!.receiving.length }}</div>
            </div>
          }
          @if (mempoolTransactions()!.sending.length > 0) {
            <div>
              <div>Sending Count: {{ mempoolTransactions()!.sending.length }}</div>
            </div>
          }
        </div>
      } @else {
        <div>No Mempool Transactions</div>
      }
    </div>
  }
  @if (!mempoolTransactions()) {
    <p>Loading...</p>
  }
</div>