@if (open) {
<kc-base-modal title="Select a token" [showCloseButton]="true" [autoWidth]="false" (close)="onClose()">
  <div class="token-selector-content">
    <kc-input placeholder="Search name, symbol, or address" type="text" [isFullWidth]="true" prefixIcon="pi pi-search"
      (valueChange)="onSearchChange($event)"></kc-input>

    <div class="token-list">
      @if (isLoading) {
      <div class="flex justify-content-center p-24">
        <span class="text-gray-60">Loading tokens...</span>
      </div>
      } @else {
      @for (token of filteredTokens(); track token.address) {
      <button class="token-item" (click)="onTokenSelect(token)">
        <div class="token-info">
          <kc-token-logo [ticker]="token.symbol" [address]="token.address" size="lg"></kc-token-logo>
          <div class="token-details">
            <span class="token-symbol">{{ token.symbol }}</span>
            <span class="token-name">{{ token.name }}</span>
          </div>
        </div>
        <div class="token-balance-info">
          @if (token.balance) {
          <span class="token-balance">{{ token.balance | commaFormatter }}</span>
          }
          <span class="token-address" (click)="copyAddress($event, token.address)" title="Click to copy address">{{ token.address | slice:0:6 }}...{{ token.address | slice:-4 }}</span>
        </div>
      </button>
      } @empty {
      <div class="no-tokens">No tokens found</div>
      }
      }
    </div>
  </div>
</kc-base-modal>
}