<div class="send-asset">
  <h2>Send Asset</h2>

  <!-- Asset Selection -->
  @if (assets && assets.length > 0) {
    <div>
      <label for="assetInput">Choose Asset:</label>
      <select id="assetInput" [(ngModel)]="selectedAsset">
        @for (asset of assets; track asset) {
          <option [value]="getAssetId(asset)">
            {{ asset.name }}
          </option>
        }
      </select>
    </div>
  } @else {
    <p>Loading...</p>
  }

  <!-- Amount Input -->
  <label for="amount">Amount:</label>
  <input id="amount" type="number" [(ngModel)]="amount" min="0" placeholder="Enter amount" />

  <!-- Address Input -->
  <label for="address">Recipient Address:</label>
  <input id="address" type="text" [(ngModel)]="recipientAddress" placeholder="Enter recipient's address" />

  <!-- Replace By Fee Checkbox -->
  @if (currentSelectedAsset()?.type == AssetType.KAS) {
    <div class="rbf-checkbox">
      <input id="rbf" type="checkbox" [(ngModel)]="rbf" />
      <label for="rbf">Replace By Fee (RBF)</label>
    </div>
  }


  <!-- Send Button -->
  <button (click)="sendAsset()" [disabled]="!isFormValid()">Send</button>
</div>