<div class="wallet-selection-container">
    <h2>Please select your wallet</h2>
  
    <div class="user-info">
      <h3>User Information</h3>
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
  
    <div class="wallet-info">
      <h3>Your Wallets</h3>
      <button (click)="addWallet()" class="add-wallet-button">Add Wallet</button>
      <div *ngIf="walletsByAddress && walletsByAddress() && Object.keys(walletsByAddress()).length > 0; else nowalletsByAddress">
        <div *ngFor="let walletAddress of Object.keys(walletsByAddress())" class="wallet-item">
          <h4>Wallet Name: {{ walletsByAddress()[walletAddress].name }}</h4>
          <h4>Wallet Address: {{ walletAddress }}</h4>
          <ng-container *ngIf="walletsByAddress()[walletAddress].balance !== undefined; else loading">
            <p><strong>Balance:</strong> {{ walletsByAddress()[walletAddress].balance }} KAS</p>
          </ng-container>
          <ng-template #loading>
            <p>Loading balance...</p>
          </ng-template>
          <button (click)="goToWallet(walletsByAddress()[walletAddress].id)">View Wallet</button>
        </div>
      </div>
      <ng-template #nowalletsByAddress>
        <p>No wallets found. Please add a wallet.</p>
      </ng-template>
    </div>
  </div>
  