.wallet-options-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}

.wallet-option-item {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.05);
}

.wallet-option-icon {
  flex-shrink: 0;
  
  ::ng-deep .icon {
    color: white !important;
  }
}

.wallet-option-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--kc-color-neutral-100);
  user-select: none;
  flex: 1;
} 