<app-startup-background-canvas />
<div class="application-container">
  @if (isAllowedDomain() && !incompatibleBrowserReason()) {
    <!--        <app-header></app-header>-->
    <router-outlet />
  } @else {
    @if (!isAllowedDomain()) {
      <p class="not-supported-url">
        This URL Is not allowed to use this application, If you see this message
        please report to us at Kaspa.com
      </p>
    }
    @if (incompatibleBrowserReason()) {
      <p class="not-supported-url">
        You browser is not compatible with this application, please use a
        compatible browser. (Reason: {{ incompatibleBrowserReason() }})
      </p>
    }
  }
</div>
<kc-snackbar />
