<div class="application-container flex column">
  <ng-container
    *ngIf="isAllowedDomain() && !incompatibleBrowserReason(); else notSupported"
  >
    <app-header></app-header>
    <div class="application-container__content">
      <router-outlet></router-outlet>
    </div>
    <app-message-popup
      [message]="messagePopupService.message().message"
      [type]="messagePopupService.message().type"
      [show]="messagePopupService.message().show"
      (close)="messagePopupService.hideMessage()"
    >
    </app-message-popup>
    @if(isWalletConnected()){
    <app-footer></app-footer>
    }
  </ng-container>
  <ng-template #notSupported>
    <p class="not-supported-url" *ngIf="!isAllowedDomain()">
      This URL Is not allowed to use this application, If you see this message
      please report to us at Kaspa.com
    </p>
    <p class="not-supported-url" *ngIf="incompatibleBrowserReason()">
      You browser is not compatible with this application, please use a
      compatible browser. (Reason: {{ incompatibleBrowserReason() }})
    </p>
  </ng-template>
</div>
