<div class="checkbox-container">
  <input
    type="checkbox"
    class="checkbox-input"
    [id]="inputId"
    [checked]="isChecked()"
    [disabled]="isDisabled()"
    (change)="handleChange($event)"
  />
  <label
    [for]="inputId"
    class="checkbox-label checkbox-{{ size() }}"
    [class.checkbox-checked]="isChecked()"
    [class.checkbox-disabled]="isDisabled()"
  >
    <span class="checkbox-box">
      @if (isChecked()) {
        <svg viewBox="0 0 12 10" fill="none" class="checkbox-checkmark">
          <path
            d="M1 5L4.5 8.5L11 1.5"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      }
    </span>
    @if (label()) {
      <span class="checkbox-text">{{ label() }}</span>
    }
  </label>
</div>
