<div
  class="flow-page-overlay"
  [class.open]="isOpen"
  (click)="onBackdropClick()"
>
  <div
    class="flow-page-content"
    [@slideDown]="isOpen ? 'open' : 'closed'"
    (@slideDown.start)="onAnimationStart()"
    (@slideDown.done)="onAnimationDone()"
    (click)="$event.stopPropagation()"
  >
    <div class="flow-page-header">
      <div class="flow-page-header__left">
        @if (canNavigateBack) {
          <kc-icon
            class="flow-page-back"
            [iconClass]="'icon-chevron-left'"
            [size]="'lg'"
            (click)="onNavigateBack()"
          ></kc-icon>
        }
        <h2 class="flow-page-title typo-title-4">{{ title }}</h2>
      </div>
    </div>

    <div class="flow-page-body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
