<div class="buy-asset">
  <h2 class="asset-title">Listings</h2>

  <label for="tickerInput">Ticker:</label>
  <input
    id="tickerInput"
    type="text"
    [(ngModel)]="selectedTicker"
    placeholder="Enter ticker"
    /><br />
    <label for="onlyWalletListing">Show only my listings</label>
    <input
      id="onlyWalletListing"
      type="checkbox"
      [(ngModel)]="onlyWalletListing"
      /><br />
      <button class="buy-button" (click)="buy()">Buy</button>
      <br />

      @if (listings) {
        <ul class="asset-list">
          @for (dataEntry of listings; track dataEntry) {
            <li class="asset-item">
              <strong class="asset-label">Ticker:</strong>
              <span class="asset-value">{{ dataEntry.tick }}</span
                ><br />
                <strong class="asset-label">From:</strong>
                <span class="asset-value">{{ dataEntry.from }}</span
                  ><br />
                  <strong class="asset-label">Amount:</strong>
                  <span class="asset-value">{{ dataEntry.amount | sompiToNumber }}</span
                    ><br />
                    <strong class="asset-label">Transaction ID:</strong>
                    <span class="asset-value">{{ dataEntry.uTxid }}</span
                      ><br />
                      <strong class="asset-label">Address:</strong>
                      <span class="asset-value">{{ dataEntry.uAddr }}</span
                        ><br />
                        <strong class="asset-label">Script:</strong>
                        <span class="asset-value">{{ dataEntry.uScript }}</span
                          ><br />
                          <strong class="asset-label">Score:</strong>
                          <span class="asset-value">{{ dataEntry.opScoreAdd }}</span>
                          @if (dataEntry.from == currentWallet()!.getAddress()) {
                            <button
                              class="cancel-button"
                              (click)="cancel(dataEntry)"
                              >
                            Cancel
                          </button>
                        }
                      </li>
                    }
                  </ul>
                } @else {
                  <p>Loading...</p>
                }
              </div>
