<div class="network-selection-modal">
  <div class="modal-content">
    <h3 class="network-group-title">L1 Network</h3>
    <div class="networks-list">
      <div class="network-item" [class.selected]="!isCurrentNetworkL2()" (click)="setL1Network()">
        <div class="network-icon">
          <img src="images/tokens-logos/KAS.png" alt="Kaspa" class="chain-icon" />
        </div>
        <div class="network-info">
          <div class="network-name">Kaspa L1</div>
        </div>
        <div class="network-status">
          <kc-icon *ngIf="!isCurrentNetworkL2()" [iconClass]="'icon-check'" [size]="'sm'"></kc-icon>
        </div>
      </div>
    </div>
    <h3 class="network-group-title">L2 Networks</h3>
    <div class="networks-list">
      <div *ngFor="let network of networks" class="network-item" [class.selected]="isCurrentNetwork(network.chainId)"
        (click)="setL2Network(network)">
        <div class="network-icon">
          @let networkIcon = getNetworkIcon(network);
          @if (networkIcon) {
            <img [src]="networkIcon!" alt="" class="chain-icon" />
          } @else {
            🌐
          }
        </div>
        <div class="network-info">
          <div class="network-name">{{ getNetworkShortName(network) }}</div>
        </div>
        <div class="network-status">
          <kc-icon *ngIf="isCurrentNetwork(network.chainId)" [iconClass]="'icon-check'" [size]="'sm'"></kc-icon>
        </div>
      </div>
    </div>
  </div>
</div>