<div class="utxos">
  <div class="utxo-header">
    <h2>
      UTXOs ({{
        wallet.getBalanceSignal()()?.utxoEntries?.length || "Loading..."
      }})
    </h2>
    <div
      *ngIf="(wallet.getBalanceSignal()()?.utxoEntries?.length || 0) > 1"
      class="compound-utxos-button-container"
    >
      <button class="compound-utxos-button" (click)="compoundUtxos()">
        Compound UTXOs
      </button>
    </div>
  </div>

  <ul
    *ngIf="
      wallet?.getBalanceSignal() !== undefined &&
        wallet?.getBalanceSignal()!() !== undefined;
      else noUtxos
    "
  >
    <li *ngFor="let utxo of wallet.getBalanceSignal()()!.utxoEntries">
      <div>
        <strong> {{ utxo.amount | sompiToNumber }} KAS </strong>
      </div>
      <div class="utxo-transaction-id">
        {{ utxo.outpoint.transactionId }}
      </div>
    </li>
  </ul>
  <ng-template #noUtxos>
    <p>Loading...</p>
  </ng-template>
</div>
