<div class="utxos">
  <div class="utxo-header">
    <h2>
      UTXOs ({{
        wallet.getBalanceSignal()()?.utxoEntries?.length || "Loading..."
      }})
    </h2>
    @if ((wallet.getBalanceSignal()()?.utxoEntries?.length || 0) > 1) {
      <div class="compound-utxos-button-container">
        <button class="compound-utxos-button" (click)="compoundUtxos()">
          Compound UTXOs
        </button>
      </div>
    }
  </div>

  @if (
    wallet.getBalanceSignal() !== undefined &&
    wallet.getBalanceSignal()() !== undefined
  ) {
    <ul>
      @for (utxo of wallet.getBalanceSignal()()!.utxoEntries; track utxo) {
        <li>
          <div>
            <strong> {{ utxo.amount | sompiToNumber }} KAS </strong>
          </div>
          <div class="utxo-transaction-id">
            {{ utxo.outpoint.transactionId }}
          </div>
        </li>
      }
    </ul>
  } @else {
    <p>Loading...</p>
  }
</div>
