<div class="asset-card card-0 card-hover full-width flex align-items-center justify-content-between p-16 cursor-pointer"
  (click)="onClick()">
  <div class="asset-card__info flex align-items-center gap-16">
    <erc20-token-logo
      class="asset-card__logo"
      [ticker]="token()?.symbol || ''"
      [size]="'lg'"
    ></erc20-token-logo>
  <div class="flex column gap-4">
      <div class="text-gray-90">{{ token()?.name || '' | titlecase }}</div>
      <div class="text-gray-60 typo-text-1 asset-card__meta">
        {{ token()?.balance || 0 | number : '1.0-4' }}
        &nbsp;{{ token()?.symbol || '' | uppercase }}
      </div>
    </div>
  </div>
  <div class="asset-card__usd-info flex column align-items-end">
    <div class="text-gray-90">
      ${{ (((token()?.balance) || 0) * ((0) || 0)) | number : '1.2-2' }}
    </div>
    <div class="text-gray-60 typo-text-1 asset-card__usd-meta">$0.00</div>
  </div>
</div>
