<div
  class="kns-summary-container flex column justify-content-center align-items-center full-width gap-16"
>
  @if (loading()) {
    <div class="skeleton-loading-container flex column gap-16 full-width">
      @for (item of [1,2,3]; track item) {
        <app-skeleton class="full-width" [height]="'75px'" [width]="'auto'" [fullRound]="false"></app-skeleton>
      }
    </div>
  } @else if (domains().length === 0) {
    <div class="text-gray-60 p-16">No KNS domains found</div>
  } @else {
    @for ( domain of domains(); track trackByDomain($index, domain) ) {
    <div
      class="kns-summary-container__card flex full-width align-items-center justify-content-between p-16 fade-in"
    >
      <div
        class="kns-summary-container__domain-info flex align-items-center gap-16"
      >
        <div
          class="kns-summary-container__placeholder flex align-items-center justify-content-center"
        >
          <span class="text-gray-60 typo-text-1">{{ domain.isDomain ? 'DOM' : 'TXT' }}</span>
        </div>
        <div class="flex column gap-8">
          @if (domain.isDomain) {
            <div class="text-gray-90">{{ domain.asset | titlecase }}</div>
          } @else {
            <div class="text-asset-box">
              <span class="text-gray-90">{{ domain.asset }}</span>
            </div>
          }
          <div class="text-gray-60 typo-text-1">
            {{ formatDate(domain.creationBlockTime) }}
          </div>
        </div>
      </div>
      <div class="kns-summary-container__status-info flex column align-items-end gap-8">
        @if (domain.isVerifiedDomain) {
          <div class="text-gray-90 typo-text-1">
            <span class="verified-badge">
              ✓ Verified
            </span>
          </div>
        }
      </div>
    </div>
    }
  }
</div> 