<h1 class="visually-hidden">
  KaspaCom Web Wallet self-custody Kaspa wallet app
</h1>
<app-startup-background-canvas />
<div class="application-container">
  @if (isAllowedDomain() && !incompatibleBrowserReason()) {
    <router-outlet />
  } @else {
    @if (!isAllowedDomain()) {
      <p class="not-supported-url">
        This URL is not allowed to use this application. If you see this message,
        please report it at Kaspa.com.
      </p>
    }
    @if (incompatibleBrowserReason()) {
      <p class="not-supported-url">
        Your browser is not compatible with this application. Reason:
        {{ incompatibleBrowserReason() }}.
      </p>
    }
  }
</div>
<kc-snackbar />
