@use '../../../../styles/responsive' as *;

.logo {
  width: 480px;
  height: auto;

  padding-top: 48px;
  padding-bottom: 48px;
  @include mobile {
    width: 80%;
  }
}


.wallet-image {
  width: 100%;
  max-width: 380px;
}

.onboarding-container-card {
  width: 480px;

  background: var(--background-secondary);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.47);

  @include mobile {
    width: 100%;
    background: none;
    backdrop-filter: blur(4px);
  }
  @include tablet {
    width: 75%;
  }
}
