@use "../../../../styles/responsive" as *;

.logo {
  width: 480px;
  height: auto;

  padding-top: 48px;
  padding-bottom: 48px;

  @include desktop {
    width: 480px;
  }

  @include tablet {
    width: 360px;
  }

  @include mobile {
    width: 70%;
    max-width: 320px;
  }
}

.wallet-image {
  width: 100%;
  max-width: 380px;
}

.onboarding-container-card {
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 480px;
  flex: 0 0 auto;

  background: var(--background-secondary);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.47);

  @include tablet {
    max-height: 60vh;
  }

  @include mobile {
    width: 100%;
    background: none;
    backdrop-filter: blur(4px);
    max-height: 50vh;
    overflow-y: auto;
  }
  @include tablet {
    width: 75%;
  }
}
