<div class="container">
    <h1>Set Your Password</h1>
  
    <form [formGroup]="passwordForm" (ngSubmit)="setPassword()">
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter your password" />
  
        <!-- Password Validation Messages -->
        <div *ngIf="password?.touched && password?.invalid">
          <small *ngIf="password?.hasError('required')">Password is required.</small>
          <small *ngIf="password?.hasError('minlength')">Password must be at least 6 characters long.</small>
        </div>
      </div>
  
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your password" />
  
        <!-- Confirm Password Validation Messages -->
        <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
          <small *ngIf="confirmPassword?.hasError('required')">Confirming your password is required.</small>
          <small *ngIf="confirmPassword?.hasError('passwordMismatch')">Passwords do not match.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="passwordForm.invalid">Set Password</button>
    </form>
  
    <!-- Warning Message -->
    <div class="warning-message">
      <p><strong>Important:</strong> This password unlocks your wallet data. If you lose it, you will not be able to recover your wallet data. Please make sure to save it somewhere safe.</p>
    </div>


    <div class="import-qr">
      <button type="button" (click)="importFromQrCode()" *ngIf="canScanQrCode()">Import From QR Code</button>
      <button type="button" (click)="importFromFile()">Import From File</button>
      <zxing-scanner #scanner *ngIf="isScanning()"></zxing-scanner>  
    </div>

  </div>