<span class="kc-button__content" (click)="handleClick($event)">
  <kc-icon
    *ngIf="prefixIcon && !loading"
    [iconClass]="prefixIcon"
    class="kc-button__icon kc-button__icon--prefix">
  </kc-icon>
  
  <span *ngIf="loading" class="kc-button__loader">
    <span class="kc-button__loader-spinner"></span>
  </span>
  
  <span class="kc-button__text" *ngIf="displayText">
    {{ displayText }}
  </span>
  
  <kc-icon
    *ngIf="suffixIcon && !loading"
    [iconClass]="suffixIcon"
    class="kc-button__icon kc-button__icon--suffix">
  </kc-icon>
</span>
