<div
  class="dropdown-select"
  [ngClass]="[
    size(),
    variant(),
    isComponentDisabled() ? 'disabled' : '',
    isFullWidth() ? 'full-width' : '',
    getTypographyClass()
  ]"
  (click)="toggleDropdown()"
  #dropdownTrigger>
  <div class="dropdown-value">
    {{ getDisplayValue() }}
  </div>
  <div class="dropdown-arrow" [class.open]="isOpen">
    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
</div>
