<div class="transaction-review-container">
  <ng-container *ngIf="currentActionSignal() && currentActionDisplay; else noAction">
    <div class="transaction-header">
      <h2 *ngIf="isActionHasPriorityFee">Transaction Review</h2>
      <h2 *ngIf="!isActionHasPriorityFee">Action Review</h2>
      <p>Please review the details below before proceeding.</p>
    </div>

    <h3>{{ currentActionDisplay.title }}</h3>
    <h4 *ngIf="currentActionDisplay.subtitle">{{ currentActionDisplay.subtitle }}</h4>
    <div [ngClass]="{'detail': !row.isCodeBlock, 'detail-signing-message': row.isCodeBlock}"
      *ngFor="let row of currentActionDisplay.rows">
      <div class="label">{{ row.fieldName }}:</div>
      <div class="value">{{ row.fieldValue }}</div>
    </div>

    <priority-fee-selection *ngIf="isActionHasPriorityFee && currentActionSignal()" [action]="currentActionSignal()!.action" [wallet]="wallet"
      (priorityFeeSelected)="setCurrentPriorityFee($event)"></priority-fee-selection>

    <div class="transaction-actions">
      <button class="accept-btn" (click)="acceptTransaction()" [disabled]="!isAvailableForApproval()">Accept</button>
      <button class="reject-btn" (click)="rejectTransaction()">Reject</button>
    </div>
  </ng-container>

  <ng-template #noAction>
    <ng-container *ngIf="currentProgressSignal() !== undefined || actionResultSignal(); else noActionToShow">
      <ng-container *ngIf="currentProgressSignal() !== undefined">
        <p *ngIf="!actionResultSignal()">Performing action...</p>
        <p *ngIf="actionResultSignal()">Action Completed</p>
        <div class="progress-container">
          <div class="progress-bar" [style.width.%]="currentProgressSignal()"></div>
          <div class="progress-label">{{ currentProgressSignal() }}%</div>
        </div>
      </ng-container>

      <ng-container *ngIf="actionResultSignal()">
        <completed-action-review [actionResult]="actionResultSignal()!"></completed-action-review>
      </ng-container>
    </ng-container>

    <ng-template #noActionToShow>
      <p>No action to review.</p>
    </ng-template>
  </ng-template>
</div>