<div class="page-content">
  <!-- Buttons section under title -->
  <div class="header-buttons">
    <kc-button
      [text]="'Create account'"
      [variant]="'gradient_1'"
      [size]="'md'"
      [isFullWidth]="false"
      [prefixIcon]="'icon-add'"
      [prefixIconColor]="'black'"
      (buttonClick)="createWallet()"
    ></kc-button>
    
    <kc-button
      [text]="'Change wallet'"
      [variant]="'tertiary'"
      [size]="'md'"
      [isFullWidth]="false"
      [prefixIcon]="'icon-update'"
      [prefixIconColor]="'white'"
      (buttonClick)="manageWallets()"
    ></kc-button>
  </div>

  <div class="wallets-container">
    <div class="wallets-list">
      @for (wallet of wallets(); track wallet.id) {
        <div 
          class="wallet-item"
          [class.selected]="wallet.isSelected"
          (click)="selectWallet(wallet)"
        >
          <div class="wallet-item__info">
            <div class="wallet-item__name-container">
              <div class="wallet-item__name">{{ wallet.name }}</div>
              <kc-icon
                class="wallet-item__pencil"
                [iconClass]="'icon-pencil'"
                [size]="'xs'"
              ></kc-icon>
            </div>
            <div class="wallet-item__address">{{ shortenAddress(wallet.address) }}</div>
            <div class="wallet-item__balance">{{ wallet.balance }} KAS</div>
          </div>
          <kc-icon
            class="wallet-item__trash"
            [iconClass]="'icon-trash'"
            [size]="'sm'"
          ></kc-icon>
        </div>
      }
    </div>
  </div>
</div>