<div class="flex column gap-24">
  <div class="flex column gap-16 align-items-center">
    <span class="typo-title-4">Create new wallet</span>
    <span class="typo-text-3 text-medium text-align-center"> </span>
    <div class="step-container flex">
      @switch (onboardingStep()) {
        @case (NewWalletStep.CREATE_PASSWORD) {
          <div class="step" @stepAnimation>
            <app-create-password-new-wallet-step
              (next)="next()"
              (previous)="previous()"
            ></app-create-password-new-wallet-step>
          </div>
        }
        @case (NewWalletStep.CREATE_SEED_PHRASE) {
          <div class="step" @stepAnimation>
            <app-create-seed-phrase-new-wallet-step
              (next)="next()"
              (previous)="previous()"
            ></app-create-seed-phrase-new-wallet-step>
          </div>
        }
        @case (NewWalletStep.ADDRESS) {
          <div class="step" @stepAnimation>
            <app-address-new-wallet-step
              (next)="next()"
              (previous)="previous()"
            ></app-address-new-wallet-step>
          </div>
        }
        @case (NewWalletStep.SUCCESS) {
          <div @stepAnimation>
            <app-success-new-wallet-step
              @stepAnimation
              (next)="next()"
              (previous)="previous()"
            ></app-success-new-wallet-step>
          </div>
        }
        @case (NewWalletStep.ERROR) {
          <div @stepAnimation>
            <app-error-new-wallet-step
              @stepAnimation
              (next)="next()"
              (previous)="previous()"
            ></app-error-new-wallet-step>
          </div>
        }
      }
    </div>
  </div>
</div>
