.wallet-profile-orb {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-image: url('https://cache.krc721.stream/krc721/mainnet/optimized/YONATOSHI/6464');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  cursor: pointer;
} 