.wallet-avatar-orb {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  border: 1.5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (prefers-reduced-motion: no-preference) {
    transition: opacity 0.2s ease;
  }

  &:hover {
    opacity: 0.85;
  }

  img {
    display: block;
    width: 26px;
    height: 26px;
    transform-origin: center;
  }
}

.wallet-profile-orb {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.2s ease;
  background-image: url("https://cache.krc721.stream/krc721/mainnet/optimized/YONATOSHI/6464");

  &:hover {
    border-color: rgba(255, 255, 255, 0.3);
  }
}
